@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewData["Title"] = "Quản lý tài liệu";
}
<link rel="stylesheet" href="~/css/SavedDocument.css" asp-append-version="true" />


<div class="bodypersonalinformation">
    <div class="boxbanner">
        <div class="title">
            <ion-icon name="document-text"></ion-icon>
            <h1>Bài viết đã lưu</h1>
            <a href="#">Khu học tập</a>
            <a href="#">Cộng đồng</a>
        </div>
        <div class="searchandupload">
            <div class="boxsearch">
                <form action="">
                    <input type="text" class="searchbar">
                    <ion-icon name="search"></ion-icon>
                </form>
            </div>
        </div>
    </div>
    <div class="boxinfor">
        <ul class="listDocument">
            <li class="itemlistdocument">
                <h5>tên tài liệu</h5>
                <div class="dayAndPrice">
                    <p>Ngày đăng: 10/10/2010</p>
                    <p>Giá: 10.000 đ</p>
                </div>
                <div class="boxtool">
                    <a href="#" class="btnedit"><ion-icon name="download-outline"></ion-icon></a>
                    <a href="#" class="btndel"><ion-icon name="trash-outline"></ion-icon></a>
                </div>
            </li>
            <li class="itemlistdocument">
                <h5>tên tài liệu</h5>
                <div class="dayAndPrice">
                    <p>Ngày đăng: 10/10/2010</p>
                    <p>Giá: 10.000 đ</p>
                </div>
                <div class="boxtool">
                    <a href="#" class="btnedit"><ion-icon name="download-outline"></ion-icon></a>
                    <a href="#" class="btndel"><ion-icon name="trash-outline"></ion-icon></a>
                </div>
            </li>
            <li class="itemlistdocument">
                <h5>tên tài liệu</h5>
                <div class="dayAndPrice">
                    <p>Ngày đăng: 10/10/2010</p>
                    <p>Giá: 10.000 đ</p>
                </div>
                <div class="boxtool">
                    <a href="#" class="btnedit"><ion-icon name="download-outline"></ion-icon></a>
                    <a href="#" class="btndel"><ion-icon name="trash-outline"></ion-icon></a>
                </div>
            </li>
            <li class="itemlistdocument">
                <h5>tên tài liệu</h5>
                <div class="dayAndPrice">
                    <p>Ngày đăng: 10/10/2010</p>
                    <p>Giá: 10.000 đ</p>
                </div>
                <div class="boxtool">
                    <a href="#" class="btnedit"><ion-icon name="download-outline"></ion-icon></a>
                    <a href="#" class="btndel"><ion-icon name="trash-outline"></ion-icon></a>
                </div>
            </li>


        </ul>
    </div>
</div>
