@{
    ViewData["Title"] = "Home Page";

}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />



<div class="contain-home">
    <div class="boxbanner">
        <h1>hãy cùng chia sẽ kiến thức</h1>
        <h1>kiến thức là vô giá</h1>
        <h1>là ngọn đuốc soi sáng tương lai</h1>
        <div class="btnkhampha">
            <a href="#" class="linkkhampha">KHÁM PHÁ</a>
        </div>

    </div>
    <div class="contain-nav">
        <div class="btnbox">
            <a class="btnnav" href="/DocMarket">
                <img src="./img/folders.png" class="imgbtn" />
                <h2>Đến</h2>
                <h2>Chợ Tài Liệu</h2>
            </a>
        </div>
        <div class="btnbox">
            <a class="btnnav" href="/Coins">
                <img src="./img/atm_card.png" class="imgbtn" />
                <h2>Đến</h2>
                <h2>Điểm tải File</h2>
            </a>
        </div>
        <div class="btnbox">
            <a class="btnnav" href="/Community">
                <img src="./img/social-media.png" class="imgbtn" />
                <h2>Đến</h2>
                <h2>Cộng Đồng</h2>
            </a>
        </div>
        <div class="btnbox">
            <a class="btnnav" href="/Cart">
                <img src="./img/trolley.png" class="imgbtn" />
                <h2>Đến</h2>
                <h2>Giỏ Hàng</h2>
            </a>
        </div>
    </div>




</div>